body{
    background-color: #ddd;
    text-align:center;
}

.toRight{
	text-align: right;	

}
#thisTab{
	text-align: left;	
	width: 100%;
}

#main{
    width: 960px;
    height: auto;
    margin: 10px auto auto;
    padding: 30px;
    margin: 0 auto;
    background: #ffffff;
    border-radius: 5px;
    opacity: 0.9;
}

.viewBar {
	font-weight: bold;
	width:100%;
	margin-bottom: 16px;
	font-size: 16px;
	text-align: left;
	
}

.selectBar {
	width:100%;
	margin-bottom: 16px;	
	text-align: left;
}

.form-custome {
  padding: 6px 12px;
  width: 157px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-custome:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.output {
	width: 100%;
	text-align: left;
	
}

.tabtitle{
	font-weight: bold;
	font-size: 14px;
	text-align: left;
}

#pageDiv {
	width: 100%;
	text-align: right;

}
